*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.app{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.height-400{
  height: 400px;
}



.container{
  width: 992px;
  margin: auto;
}

.wrap{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}

.header{
  background-color: red;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_item{
  padding: 0px 30px;
}

.banner{
  margin-bottom: 60px;
}

.wrap_image{
  width: 40%;
 
}

.image_right{
  padding-right: 30px;
}

.image_left{
  padding-left: 30px;
}

img{
  width: 100%;
}

.wrap_text{
  width: 60%;
}

.wrap_title{
  margin-bottom: 30px;
}

.articles{
  display: flex;
  flex-flow: wrap;
  margin-right: -30px;
  margin-bottom: 30px;
}

.articles_block{
  width: 33.333%;
  padding-right: 30px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}


.footer{
  background-color: blue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


