*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container{
  width: 992px;
  margin: auto;
}

.wrap{
  display: flex;
  flex-flow: wrap;
}

.header{
  background-color: red;
  height: 60px;
  margin-bottom: 30px;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap{
  display: flex;
  flex-flow: wrap;
  margin-right: -30px;
  margin-bottom: 30px;
}

.wrap_block{
  width: 33.333%;
  padding-right: 30px;
}

.wrap_inblock{
  height: 400px;
  background-color: teal;
}


.footer{
  background-color: blue;
  height: 60px;

}


